body{
    color:white;
}

#map {
    height: 400px;
    width: 100%;
}

#nav{
    background-color: red;
}

a{
    text-decoration: none;
    color: black;
}

#background-video {
        position: fixed; 
        right: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1000;
        background-size: cover;
}

hr{
margin-top: 20px;
margin-bottom: 20px;
border: 0;
border-top: 1px solid rgb(255, 255, 255);
}

.container {
margin-top: 70px;
text-align: center;
}

.carousel-inner img {
    height: 300px;
   }